body {
  font-family: Arial, sans-serif;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background: #24292f;
  color: white;
}

.player-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.team {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.flag {
  width: 28px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.eliminated {
  text-decoration: line-through;
  color: red;
  opacity: 0.65;
}

nav {
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    background: #24292f;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
}

nav a:hover {
    background: #0366d6;
}
